/* Общая стилизация форм */
.wrapper {
	padding: 0 15px;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}

form {
	width: 500px;
	margin: 0 auto;
}

.form-title {
	font-size: 24px;
	margin-bottom: 20px;
}

.form-field {
	position: relative;
	margin: 25px 0;
}

.form-field input,
.form-field textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

.form-field input[type="checkbox"] {
	display: inline-block;
	width: auto;
	margin-right: 10px;
}

.form-field input[type="checkbox"]+label {
	color: #666;
	user-select: none;
}

.form-field__label {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #666;
	pointer-events: none;
	transition: all 0.3s ease;
}

.form-field input:focus,
.form-field textarea:focus {
	outline: none;
	border-color: #333;
}

.form-field input:focus+.form-field__label,
.form-field textarea:focus+.form-field__label,
.form-field input:valid+.form-field__label,
.form-field textarea:valid+.form-field__label {
	top: -15px;
	left: 5px;
	font-size: 12px;
	color: #333;
}

button[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 40px;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover,
button[type="submit"]:focus,
button[type="submit"]:active {
	background-color: #000;
}

p {
	margin-bottom: 10px;
}

a {
	color: #333;
}

a:hover,
a:focus,
a:active {
	color: #555;
	text-decoration: underline;
}