@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Общие стили */
body {
	color: #4A4A4A;
	font-family: 'Roboto', sans-serif;
}

button {
	border-radius: 5px;
	background-color: black;
	color: white;
	padding: 5px 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover,
button:focus,
button:active {
	background-color: #333;
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

a {
	text-decoration: none;
	color: #555454;
	transition: color 0.3s ease;
}

a:hover,
a:focus,
a:active {
	color: #000;
}

header {
	background-color: #f2f2f2;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
}

nav li {
	margin-right: 10px;
}

main {
	border: 1px solid #ccc;
	min-height: 100vh;
	height: 100%;
}

.user-info {
	display: flex;
	align-items: center;
}

.user-info p {
	margin-right: 10px;
}

footer {
	background-color: #f2f2f2;
	padding: 10px;
}

footer nav ul {
	display: flex;
	justify-content: center;
}

footer nav li {
	margin-right: 10px;
}

footer nav a {
	text-decoration: none;
	color: #333;
}