.table {
	width: 100%;
	border-collapse: collapse;
}

.table th,
.table td {
	padding: 8px;
	border: 1px solid #ddd;
}

.table th {
	background-color: #f2f2f2;
	font-weight: bold;
	text-align: left;
}

.table td {
	max-width: 500px;
	overflow-x: auto;
	vertical-align: middle;
}

.table tbody .table__row:nth-child(even) {
	background-color: #f9f9f9;
}

.table tbody .table__row:hover {
	background-color: #e6e6e6;
}

.table__actions {
	display: flex;
	column-gap: 10px;
}